<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Átomo simulation
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="../bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="../bootstrap/css/bootstrap.min.css")
    body
        header 
            nav.bordes
                h1 Simulación de Átomo
                a(href="index.html") volver a inicio
        .container-fluid.bg-black
            .cont_1
                h2 Simulación atomica
                .cont_atom
                    .atomo
                        .coraza
                            .electrones#e1
                            .electrones#e2
                            .electrones#e3
                            .electrones#e4
                            .electrones#e5
                            .electrones#e6
                            .electrones#e7
                            .electrones#e8
                        .nucleo
                            .infra_nucleo