<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title background slide
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="../bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="../bootstrap/css/bootstrap.min.css")
   
    body
        nav.bordes
            h1 Backgroud slide
            a(href="index.html") Volver a inicio
        .cont
            .uno Left to rigth
            .dos Rigth to left
            .tres Top to Bottom
            .cuatro Bottom to top
            .cinco  Doble slide horizontal
            .seis Doble slide vertical