<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title bordes
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="../bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="../bootstrap/css/bootstrap.min.css")
   
    body
        nav.bordes
            h1 Bordes con box-shadow
            a(href="index.html") Volver a inicio
        .grilla
            .box1
                h3 Bordes con box-shadow 
                p Ejercicio #1  
            .box2
                h3 Bordes con box-shadow
                p Ejercicio #2