<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sombra curva
        link(href= "http://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet")
        link(rel="stylesheet", href="css/estilos.css") 
    body
        nav.shadow
            h1 Sombra curva
            a(href="index.html") Volver al menu
        #box-texto
                h3 Sombras Curvas
                p En estos ejercicios a unas cajas se les da una sobra convexa y una sombra concava a unas cajas mediante los pseudo-elementos "::affter" y "::before".    
        .grilla-flex
            .Sombra_concava 
                h3 Sombra concava
            .Sombra_convexa 
                h3 Sombra convexa
    