<!DOCTYPE html>
    html(lang="es")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title ejercicios de sass
            link(rel="stylesheet", href="css/estilos.css")
            link(rel="stylesheet", href="../estilos.css")
            link(rel="stylesheet", href="../bootstrap/css/bootstrap.css")
            link(rel="stylesheet", href="../bootstrap/css/bootstrap.min.css")
        body
            .grid-map
                header 
                    .navbar
                        .navbar-brand.container-fluid
                            h1.logo Sand
                                span.white Box
                        .navbar-bar.container-fluid
                            nav.container-fluid  
                                ul  
                                    li
                                        a(href="../INDEX.html") Home
                                    li
                                        a(href="../HTML5 Basico/INDEX.html") HTML 5
                                    li
                                        a(href="../CSS/Index.html") CSS 3
                .cont1.container-fluid#contenido2
                    .nav 
                        h1 Ejercicios de Sass 
                    .cluster 
                        .bloque
                            a(href="sombras.html") long shadow
                        .bloque
                            a(href="box3d.html") sombra curva
                        .bloque
                            a(href="bordes.html") bordes con box-shadow
                        .bloque
                            a(href="background.html") background slide
                        .bloque 
                            a(href="atomo.html") átomo simulation              
            footer
                .info_footer
                    h2 Copirigth &copy; Green Service Creative Desing<br/>2019
