<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sombras flat
        link(href= "http://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="styles.css")   
    body
        nav.shadow
            h1 Shadow Flat
            a(href="index.html") Volver al menu
        .grilla
            #box-texto
                h3 Long Shadow -- Sombras alargadas
                p en estos ejercicios se le otorga a una fuente una "Long-shadow" y a unas cajas por medio de una función de Sass.
            .caja
                h2 Text shadow
            .caja
                .box_0
                    h4 Icon shadow 
                    span.icon-object-group 
            .caja
                .box_1
                    h2 circle shadow 
            .caja
                .box_2
                    h2 box shadow
