<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="estilos.css")
        title Border
    body
        .container   
            .caja
                .circle
                h2 Loading
                .bo
                    #i1
                    #i2
                    #i3 
            .boton 
                a(href="../index.html") Regresar        
        