/* Estilos del ejercicio #1 */
@function flatShadow($numero,$color){
  $text-shadow: 2px 2px #{$color};
  @for $i from 2 through $numero {
    $text-shadow:#{$text-shadow},
                  #{$i}px #{$i}px #{$color};
  }
  @return $text-shadow;
}
//  google fonts
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

// fin de google fonts

*{
  margin:0;
  padding:0;
}
.bg-black{
  background-color:#000;
}
.vh_100{
  height:100vh;
}
// Menu ejercicios Sass

nav.shadow{
  background-color:#28a745;
  color:#fff;
  padding:1% 0;
  font-size:1.2em;
  display:flex;
  justify-content: space-around;
  h2{
    display: block;
  }
  a{
    color:#fff;
    text-decoration:none;
    background-color: greenyellow;
    padding: 1%;
    display:block;
  }
}



// cotenido de Shadow Flat
h2{
  font-weight: normal;
}

#box-texto{
  grid-column:1/3;
  text-align: center;
  border:2px solid yellow;
  background-color: lighten(yellow,35%);
  display: flex;
  align-content:center;
  flex-direction: column;
  margin:1%;
  h3,p{
    margin:1% 0;
    
  }
}

.grilla{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    height:100vh;
    gap:1%;
    padding:1%;
    box-sizing: border-box;
  }

.caja>h2{
  font-size:2em;
  font-weight:bolder;
  text-shadow: flatShadow(250, darken(steelblue,30%));

}

.caja{
  display:flex;
  align-items: center;
  justify-content:center;
  color:darken(steelblue,10%);
  font-family: 'Bowlby One SC', cursive;
  background-color: lighten(lightblue,10%);
  overflow:hidden;
    .box_0{
      display:flex;
      flex-flow:column;
      h4{
        font-size:2em;
        display:block;
      }
      span.icon-object-group{
        text-align:center;
        font-size:8em;
        display: block;
        text-shadow: flatShadow(250,(darken(steelblue,30%)));
      }
    }
    .box_1{
      width:150px;
      height:150px;
      background-color:lighten(steelblue,10%);
      color:#fff;
      display: flex;
      border-radius:50%;
      align-items: center;
      text-align:center;
      box-shadow: flatShadow(200,steelblue);

    }
    .box_2{
      width:150px;
      height:150px;
      background-color:lighten(steelblue,10%);
      display: flex;
      align-items: center;
      text-align:center;
      box-shadow: flatShadow(200,steelblue);
    }
}
  
  /* Fin de los estilos de shadow flat */
  /*estilos sombra curva*/

  .grilla-flex{
    display: flex;
    flex-wrap:nowrap;
    width:100%;
    justify-content:space-around;
    height:580px;
    font-family: "Oswald", sans-serif !important;
    background-image: linear-gradient(to right, purple 50%, #28a745 50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
    position: relative;
    z-index:-2;    
    .Sombra_concava{
      background-color:darken(magenta,30%);
      width:200px;
      height:200px;
      border-radius:5px;
      display:flex;
      align-items: center;
      padding:0 2%;
       font-size: 2em;
      -webkit-text-stroke: 1px (rgba(#fff,0.5));
      color:rgba(#fff,0.5);
      text-align: center;
      position: relative;
      &::after{
        content:"";
        width:90%;
        height:10%;
        display:block;
        box-shadow: 0 10px 10px #000;
        border-radius:60%;
        position:absolute;
        z-index:-1;
        bottom:4%;
        }
      }
      .Sombra_convexa{
        border-radius:5px;
        -webkit-text-stroke: 1px (rgba(#fff,0.5));
        color:rgba(#fff,0.5);
        background-color:lighten(#28a745,10%);
        width:200px;
        height:200px;
        display:flex;
        align-items: center;
        padding:0 2%;
        font-size: 2em;
        text-align: center;
        position: relative;
        &::after,
        &::before{
          content:"";
          width:96%;
          height:5%;
          display:block;
          box-shadow:0px 5px 9px #000;
          position:absolute;
          bottom:4%;
          z-index:-1;
          opacity:.8;
        }
        &::after{
          left:2%;
          transform:rotate(-4deg);
        }
        &::before{
          right:2%;
          transform:rotate(4deg);
        }
      }
  }

  /*Fin de estilos sombra curva*/
  /*estilos de bordes con box shadow*/
  nav.bordes{
    background-color:#28a745;
    display:flex;
    h1{
      color:white;
      font-size:2em;
      padding:0 1%;
    }
    a{
      color:white;
      background-color: yellowgreen;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5%;
      margin:1% auto;
    }
  }
  .box1{
    background-color:lighten(yellow,30%);
    height:300px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 4px blue inset ,
                0 0 0 4px red;                          ;
    border: 4px solid #000;
    margin:1%;
    h3{
      font-size:3em;
      text-align: center;
      color:steelblue;
      -webkit-text-stroke:2px darken(steelblue,10);
      font-weight: bolder;
    }
    p{
      font-weight:bolder;
    }
  }
  .box2{
    background-color:lighten(yellow,30%);
    height:300px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 0 blue inset ,
                5px 0 0 red inset ,
                0 -5px 0 blue inset ,
                -5px 0 0 red inset ;
    margin:1%;
    h3{
      font-size:3em;
      text-align: center;
      color:yellowgreen;
      -webkit-text-stroke:2px darken(yellowgreen,10);
      font-weight: bolder;
    }
    p{
      font-weight:bolder;
    }
  }
  /*fin de estilos de bordes con box shadow*/
  /*estilos de background slide*/
  .cont{
    background-color:#FB6337;
    height:595px;
    display:grid;
    grid-gap:10px;
    padding:10px 0;
    grid-template-columns:repeat(2,1fr);
    & div{
      background-color:lightblue;
      text-align: center;
      display:flex;
      justify-content: center;
      align-items: center;
      width:300px;
      height:100px;
      font-size:1.2em;
      margin:0 auto;
      &:hover{
        color:#fff;
        transition: all 1.5s;
      }
    }
    .uno{
      box-shadow:5px 0px 0 darken(red,5%) inset;
      &:hover{
        box-shadow:350px 0px 0 darken(red,5%) inset;
      }
    }

    .dos{
      box-shadow:-5px 0px 0 darken(red,5%) inset;
      &:hover{
        box-shadow:-350px 0px 0 darken(red,5%) inset;
      }
    }
    .tres{
      box-shadow:0 5px 0 darken(red,5%) inset;
      &:hover{
        box-shadow:0px 350px 0 darken(red,5%) inset;
      }
    }
    .cuatro{
      box-shadow:0px -5px 0 darken(red,5%) inset;
      &:hover{
        box-shadow:0px -350px 0 darken(red,5%) inset;
      }
    }
    .cinco{
      box-shadow:5px 0px 0 darken(red,5%) inset ,
                 -5px 0px 0 darken(red,5%) inset;
      &:hover{
        
        box-shadow:350px 0px 0 darken(red,5%) inset , 
                   -350px 0px 0 darken(red,5%) inset;
      }           
    }
    .seis{
      box-shadow:0px 5px 0 darken(red,5%) inset ,
                 0px -5px 0 darken(red,5%) inset;
       &:hover{
          box-shadow:0px 350px 0 darken(red,5%) inset ,
                     0px -350px 0 darken(red,5%) inset;
       }           
    }
  }
  /*fin de estilos de background slide*/
  /*estilos de 치tomo simulaci칩n*/
  .cont_1{
    h2{
      text-align: center;
      color:#fff;
      display:block;
      padding:5%;
    }
  }
  .cont_atom{
      display:flex;
      justify-content: center;
      padding:2% 0;
      .atomo{
        // animacion de atomo
        left:0;
        @keyframes atomo{
          0%{
            left:0px;
          }
          40%{
            left:15px;
            }
          80%{
            left:0px
          }
          100%{
            left:-15px;
          }  
        }
       
        @keyframes coraza{
          0%{
            box-shadow: 0 0 35px 0 #5c5cff;
            background-image: radial-gradient(rgba(255, 255, 255, 0) 40% , rgba(#5c5cff, 0.1) 60%);
          }
          50%{
            box-shadow: 0 0 35px 20px #5c5cff;
            background-image: radial-gradient(rgba(255, 255, 255, 0) 40% , rgba(#5c5cff, 0.2) 60%);
          }  
          100%{
            box-shadow: 0 0 35px 0 #5c5cff;
            background-image: radial-gradient(rgba(255, 255, 255, 0) 40% , rgba(#5c5cff, 0.1) 60%);
          }
        }
        animation:atomo 1s infinite;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height:550px;
        width:550px;
        
        .coraza{
          box-shadow: 0 0 35px #5c5cff;
          animation:coraza 1.5s infinite;
          background-image: radial-gradient(rgba(255, 255, 255, 0) 40% , rgba(#5c5cff, 0.2) 60%);
          z-index:2;
          margin:1%;
          width:100%;
          height:100%;
          border-radius:50%;
          position: relative;
          .electrones{
            position: absolute;
            border-radius:50%;
            height:30px;
            width:30px;
            box-shadow:0 0 10px lightblue;
            background-image: radial-gradient(lightblue,rgba(#fff,0));
          }
          #e1{left: 0px;bottom: 0px; animation:e1 1.5s ease infinite;}
          #e2{left:237px;top: 0px; animation:e2 1s ease infinite;}
          #e3{left:237px; bottom:0px; animation:e3 1.5s infinite}
          #e4{right:0px; bottom:0px; animation:e4 1s ease infinite;}
          #e5{top:237px;right:0px; animation:e5 1s ease infinite;}
          #e6{top:237px;left:0px; animation:e6 1.5s ease infinite;}
          #e7{top:0px;left:0px; animation:e7 1s ease infinite;}
          #e8{top:0px;right:0px; animation:e8 1s ease infinite;}
        }
        // Amimacion electrones
          @keyframes e1 {
            0%{opacity:0;left: 237px;top:237px;}
            40%{opacity:1;left: 0px;top:500px;}
            80%{opacity:1;left: 500px;top:0px; transform: scale(0.8);}
            100%{opacity:0;left:302px;top:176px; transform: scale(0.1)}
          }
          @keyframes e2 {
            0%{opacity:0;left:237px;top:237px;}
            40%{opacity:1;left:237px;top:500px;}
            80%{opacity:1;left:237px;top:0px;transform: scale(0.8)}
            100%{opacity:0;left:237px;top:237px;transform: scale(0.1)}
          }
          @keyframes e3 {
            0%{opacity:0;left:237px;bottom:237px;}
            40%{opacity:1;left:237px;bottom:500px;}
            80%{opacity:1;left:237px;bottom:0px;transform: scale(0.8)}
            100%{opacity:0;left:237px;bottom:237px;transform: scale(0.1)}
          }
          @keyframes e4 {
            0%{opacity:0;right:237px; bottom:237px;}
            40%{opacity:1;right:0px; bottom:0px;}
            80%{opacity:1;right:500px; bottom:500px;transform: scale(0.8)}
            100%{opacity:0;right:237px; bottom:237px;transform: scale(0.1)}
          }
          @keyframes e5 {
            0%{opacity:0;top:237px;right:237px;}
            40%{opacity:1;top:237px;right:0px;}
            60%{opacity:1;top:260px;right:237px;}
            80%{opacity:1;top:237px;right:500px;transform: scale(0.8)}
            100%{opacity:0;top:220px;right:237px;transform: scale(0.1)}
          }
          @keyframes e6 {
            0%{opacity:0;top:237px;left:237px;}
            40%{opacity:1;top:237px;left:0px;}
            60%{opacity:1;top:220px;left:237px;}
            80%{opacity:1;top:237px;left:500px;transform: scale(0.8)}
            100%{opacity:0;top:260px;left:237px;transform: scale(0.1)}
          }
          @keyframes e7 {
            0%{opacity:0;top:237px; left:237px;}
            40%{opacity:1;top:0px; left:0px;}
            80%{opacity:1;top:500px; left:500px;transform: scale(0.8)}
            100%{opacity:0;top:237px; left:237px;transform: scale(0.1)}
          }
          @keyframes e8 {
            0%{opacity:0;top:237px; right:237px;}
            40%{opacity:1;top:0px; right:0px;}
            80%{opacity:1;top:500px; right:500px;transform: scale(0.8)}
            100%{opacity:0;top:237px; right:237px;transform: scale(0.1)}
          }
          @keyframes nucleo{
            0%{right:0px;}
            40%{right:10px;}
            80%{right:0px;}
            100%{right:-10px;}
          }
        .nucleo{
            z-index: 1;
            position: absolute;
            height: 100%;
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom:0;
          .infra_nucleo{
            position: relative;
            animation:nucleo 1s infinite;
            width:100px;
            height:100px;
            border-radius:50%;
            box-shadow: 0 0 36px -7px blueviolet;
            background-image:  radial-gradient(blueviolet,rgba(#fff,0));
          }
        }
        
      }
  }

  /*fin de estilos de 치tomo simulaci칩n*/